.body {
    font-size: 30px;
    background-image: url("../img/dn1.png");
    margin: 0;
    
}
.container-fluid {
    width: auto;
    height: auto;
    
    
}
form {
    width: 500px;
    height: 550px;
    border: 1px solid grey;
    margin-top: 5%;
    margin-left: 35%;
}

.input-group {
    padding-bottom: 20px;
    
}
