.body {
    font-size: 28px;
    padding: 10px 10px 10px 10px;
    width: auto;
    height: auto;
    background-color: rgb(150, 148, 148);
}

.navbar {
    background-color: rgb(150, 148, 148);
}
#content {
    width: auto;
    height: auto;
    background-color: rgb(150, 148, 148);
}
#content .card{
    padding-top: 50px;
    border: 0;
    background-color: rgb(150, 148, 148);
    padding-bottom: 0px;
}
#content .card img{
    padding-left: 20px;    
}
#content .card p {
    padding-left: 20px;
    padding-top: 20px;
    font-family: "Arial", "Sans-serif";
}


#footer {
    width: auto;
    height: auto;
    background-color: white;

}
#footer  li{
    padding-right: 20px;
    background-color: white;
}

#footer  h6{
    text-align: center;
    font-size: 12px;
}